:root {
  /**
   * https://getbootstrap.com/docs/4.0/utilities/colors/
   */
  --primaryColor: rgb(0, 123, 255);
  --secondaryColor: rgb(108, 117, 125);
  --successColor: rgb(40, 167, 69);
  --errorColor: rgb(220, 53, 69);
  --warningColor: rgb(255, 193, 7);
  --inforColor: rgb(23, 162, 184);
  --darkColor: rgb(52, 58, 64);
  --lightColor: rgb(52, 58, 64);
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

b {
  font-weight: 600 !important;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.images {
  position: relative;
}

.images img {
  width: 180px;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
}

.checkbox__thumbnail {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(231, 117, 117);
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.checkbox__images {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(231, 117, 117);
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 14px;
}

/* absolute: so voi thang relative chua no.  Fixed thi cha no la thang trinh duyet */